.contentPlaylist {
  display: flex;
  flex-direction: column;
  height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 15px;
}

.contentPlaylist::-webkit-scrollbar {
  width: 4px;
}

.contentPlaylist::-webkit-scrollbar-track {
  background: #4b4949;
}

.contentPlaylist::-webkit-scrollbar-thumb {
  width: 4px;
  height: 10px;
  border-radius: 10px;
  background-color: #ffffff;
}